body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header, footer {
    background: #97760a;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}

.calc-container, .history {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(214, 166, 7, 0.932);
    margin-bottom: 20px;
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.calc-container:hover, .history:hover {
     transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(214, 166, 7, 0.65);
}


.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input, select {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #9b5f04;
}

.btn {
    padding: 12px 20px;
    background: #806907;
    color: #dae9e9;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #a5690f;
}

.error {
    color: red;
    font-weight: bold;
}

.history ul {
    padding-left: 20px;
}

@media (max-width: 600px) {
    .calc-container, .history {
        padding: 15px;
    }
}
